body{
    background: linear-gradient(54deg, rgba(28,87,57,1) 0%, rgba(106,126,54,1) 35%, rgba(212,242,134,1) 100%);
}

.container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    height: 100vh;
    
}

.card{
    padding-left: 25px;
    padding-right: 25px;
    background-color: #D4F286;
    width: 500px;
    /* height: 600px;   */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    border: white 5px solid;
    border-radius: 50px;
    font-size: 22px;
    color: #6A7E36;
    text-align: center;
}

.inp_nome{
    width: 50%;
    height: 20px;
    border: white 2px solid;
    border-radius: 10px;
    background-color: #B1D965;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
